# Imaginea Docker oficială Maven cu Java 21
image: maven:3.9.6-eclipse-temurin-21

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository

stages:
  - test
  - report

# JOB 1: Testare
run_tests:
  stage: test
  tags:
    - qagitlab  # <--- CRITIC: Spunem job-ului să caute un runner cu acest tag
  script:
    - echo "Rulare teste HapifyMe cu Java 21..."
    - java -version
    - mvn clean test
  allow_failure: true
  artifacts:
    when: always
    paths:
      - target/allure-results/
      - logs/
    expire_in: 1 day

# JOB 2: Raportare (Pages)
pages:
  stage: report
  tags:
    - qagitlab  # <--- CRITIC: Și acest job trebuie să ruleze pe runner-ul tău
  script:
    - mkdir public
    # Instalare Allure manual (imaginea maven nu il are)
    - apt-get update && apt-get install -y wget unzip
    - wget https://github.com/allure-framework/allure2/releases/download/2.24.0/allure-2.24.0.zip
    - unzip allure-2.24.0.zip -d /opt/
    - /opt/allure-2.24.0/bin/allure generate target/allure-results -o public
  artifacts:
    paths:
      - public
  only:
    - main
