name: HapifyMe Automated Tests

# Când să ruleze robotul?
on:
  push:
    branches: [ "main" ] # La fiecare push pe master
  pull_request:
    branches: [ "main" ] # La fiecare Pull Request

jobs:
  test-execution:
    runs-on: ubuntu-latest # Sistemul de operare al robotului

    steps:
    # Pasul 1: Descarcă codul nostru din repo
    - name: Checkout Code
      uses: actions/checkout@v3

    # Pasul 2: Instalează Java 17 (necesar pentru Maven)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    # Pasul 3: Rulează testele (exact comanda învățată!)
    - name: Run Tests with Maven
      run: mvn clean test

    # Pasul 4: Generează și Salvează Raportul Allure
    # (Doar dacă vrem să vedem raportul după execuție)
    - name: Allure Report
      uses: simple-elf/allure-report-action@master
      if: always() # Rulează chiar dacă testele au picat
      with:
        allure_results: target/allure-results
